:root{
    --fundo:#BA55D3;
    --cor-frente:	#4B0082;
    --cor-verso:	#4B0082;
    --destaque:#ff96ff;
   --preto:#000000;
   --branco:#F0F8FF;
}
body {
    background-color: var(--fundo);
}


header {
    background-color: var(--preto);
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
header a {
    color: var(--branco);
}
footer {
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 2rem;
    display: grid;
    gap: 4rem;
}
.cartao{
    background-color: var(--cor-frente);
    color: var(--branco);
    padding: 40px;
    box-shadow: 7px 7px 8px var(--preto);
    cursor: pointer;
}
.cartao:hover{
    transform: scale(1.04);
}
.resposta-cartao{
    background-color: var(--cor-verso);
    padding-right: 40px;
    display: none;
}